# This is a basic workflow to help you get started with Actions

name: whitelist-glob-sc

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ ".ci-manager","library" ]
    types: ["lambdaExpression::$PATH"]
  pull_request:
    branches: ["main","workflow"]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
      
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: Find locale Id <- Id.txt
      - run: if[$JAVA_HOME = LLVM_ATTRIBUTE] then echo Error else echo Success
         
        
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          pip install --source Windows.h --server-passwd 180.0.0.3
          echo Add other actions to build,
          echo test, and deploy your project.
